.mcpdtotalbox{
font-size: 15px;
padding: 0px 10px 0px 10px;
line-height: 40px;
}


.mcpdsubtotal{
font-size: 15px;
padding: 0px 10px 0px 10px;
border-bottom: 1px dotted #bbb;
}

.mcpdstep2{
border: 1px solid #444;
padding:10px;
margin-top:5px;
}

.mcpdstep2 h3.top{
	margin-top: 0px;	
}

.mcpdstep2 h2.top{
	margin-top: 0px;	
}

#mcpdmonthly{
	margin: 0px;
	padding: 10px 10px 5px 10px;
	border-bottom: 1px dotted #bbb;
}

.mcpdcontent{
width: 390px;
}

.mcpdcontent form{
text-align: left;
}

.mcpdleftcol{
	width: 100%;
	min-width: 370px;
	background-color: #E0FFD8;
	float: left;
}


.mcpdrightcol{
	width: 330px;
	padding: 10px;
	background-color: #fff;
	float:left;
}

.mcpddonatenow{
	border: none;
	background-image: url('../../../plugins/multi-currency-donations/donate-button.png');
	font-weight: 900;
	font-size: 30px;
	margin-left: 10px;
	font-family: Georgia, _serif;
	width: 220px;
	height: 65px;
}

.mcpddonatenow:hover{
	cursor: pointer;	
}

.permonth{
	font-size: 1.4em;
}

#currsymbol1 #currsymbol2{
	font-size: 20px;
	font-family: 'Georgia', 'Book Antiqua', Verdana, Arial, Sans-Serif;
	font-weight: 200;		
	}

.nationality{
	background: #BEEF77;
	padding: 8px;
	color: #222;
	font-weight: 700;
	font-size: 13px;
	}

#currencyOne, #currencyMon{
	font-size:25px;
	font-weight:700;
	font-family: Lucida Grande, verdana, helvetica, _sans;
}